 </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
    </div>
    <!--end::Content CONTAINER **************************-->
	
	<!--begin::Footer--> 
	                 <%- include('./page_components/footer.ejs') %> 
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
 
		<!--begin::Javascript--> 
		<!--begin::Global Javascript Bundle(used by all pages)-->
		
	                 <%- include('./page_components/scripts.ejs') %> 

		<!--end::Javascript-->
	</body>
	<!--end::Body-->
 
</html>