<%- include('../_page_headers/admin_top.ejs') %>
<div class="empty"></div>
<%- include('../_page_headers/admin_bottom.ejs') %>
<script>
  $(document).ready(function () {
    document.title = "Portal - Blueroof Pool Club";
    document.getElementById("breadcrumb_title").innerHTML = "Members";
    document.getElementById("breadcrumb_thread").innerHTML = "Home - Members";
  });
</script>
